$orange: #FF7714;

#videoWrapper {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    transition: 0.2s ease all;

    *::-webkit-media-controls-enclosure {
        display: none !important;
        -webkit-appearance: none;
    }

    *::-webkit-media-controls-panel {
      display: none!important;
      -webkit-appearance: none;
    }

    *::-webkit-media-controls {
        display:none !important;
        -webkit-appearance: none;
    }
    
    *::-webkit-media-controls-play-button {
        display: none!important;
        -webkit-appearance: none;
    }
        
    *::-webkit-media-controls-start-playback-button {
        display: none!important;
        -webkit-appearance: none;
    }

    @media screen and (max-width: 767px) {
        width: calc(110% + 30px);
        margin: auto calc(-5% - 15px);
    }

    * {
        box-sizing: border-box;
    }

    video {
        height: auto;
        width: 100%;
        margin: auto;
        display: block;
        transition: 0.2s ease all;
    }

    #vidOverlay {
        width: 100%;
        height: calc(100% + 60px);
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 10;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        @media screen and (max-width:540px) {
            height: calc(100% + 40px);
        }
    }

    .overlayPlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        background: $orange;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 140px;
        height: 140px;
        transition: 0.2s linear all;
        z-index: 11;

        #playIcon {
            fill: #fff;
            margin-left: 7px;
            transition: 0.2s linear all;
        }

        &:hover {
            background: #fff;

            #playIcon {
                fill: $orange;
                margin-left: 7px;
            }
        }

        @media screen and (max-width: 540px) {
            width: 70px;
            height: 70px;
            
            #playIcon {
                width: 30px;
                height: 30px;
            }
        }
    }

    .overlayLoading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 60px;
        margin: auto;
        width: 140px;
        height: 140px;
        padding: 10px;
        z-index: 11;
        display: none;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 25px;

        img {
            width: 160px;
            height: 160px;
            margin: -20px;
            max-width: none;
            z-index: 12;
        }
        
        @media screen and (max-width: 540px) {
            width: 80px;
            height: 80px;
            padding: 0;
            img {
                width: 80px;
                height: 80px;
                margin: 0;
            }
        }
    }

    .controlWrapper {
        max-width: 1080px;
        width: 100%;
        margin: auto;
        transition: 0.2s ease all;
        margin-bottom: 100px;

        .sectionMenu {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            width: auto;
            z-index: 5;
            height: auto;
            pointer-events: none;

            .sectBtn {
                display: inline-block;
                vertical-align: top;
                width: 150px;
                text-align: center;
                padding: 15px 20px;
                color: white;
                background-color: rgba(12, 12, 12, 0.8);
                margin-top: 20px;
                margin-right: -4px;
                cursor: pointer;
                pointer-events: all;
                transition: 0.2s ease all;

                &:hover {
                    color: $orange;
                }
            }

            .sectOps {
                display: inline-block;
                vertical-align: top;
                background-color: rgba(12, 12, 12, 0.5);
                height: 100%;
                width: 0;
                margin: 0;
                padding: 0;
                list-style: none;
                transition: 0.2s ease all;
                overflow-y: auto;

                li {
                    width: 100%;
                    overflow: hidden;
                    margin-bottom: 15px;
                    pointer-events: none;
                    white-space: nowrap;
                    font-weight: bold;
                    line-height: 20px;

                    &.active {
                        text-shadow: 0px 0px 10px $orange;

                        &:hover {
                            text-shadow: 0px 0px 10px #fff;
                        }
                    }

                    &.clickable {
                        cursor: pointer;
                        padding-left: 20px;
                        pointer-events: all;
                        font-weight: normal;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }

            &.active {
                height: 100%;
                pointer-events: all;
                
                .sectBtn { 
                    color: $orange;
                    text-shadow: 0px 0px 10px #fff;
                }
                
                .sectOps {
                    width: 250px;
                    padding: 25px 20px 40px;
                    li {
                       overflow: hidden;
                       white-space: normal;
                    }
                }
            }
            

            @media screen and (max-width:540px) {
                .sectBtn {
                    width: 120px;
                    padding: 10px 5px;
                    font-size: 14px;
                    line-height: 18px;    
                    margin-top: 5px;
                }

                .sectOps {
                    li {
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 10px;
                    }
                }

                &.active {
                    .sectOps {
                        width: 175px;
                        padding: 15px 10px 25px;                    
                    }
                }
            }
        }

        #hotKeys { 
            position: absolute;
            top: 20px;
            left: 20px;
            color: white;
            width: auto;
            z-index: 6;
            height: 50px;
            cursor: pointer;

            .ttButton {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(12, 12, 12, 0.5);
                border-radius: 50%;
                color: $orange;
                cursor: pointer;
                transition: 0.2 ease all;
                color: white;
                font-size: 18px;

                &:hover {
                    color: $orange;
                    transform: rotate(360deg);
                }
            }

            .toolTips {
                list-style: none;
                padding: 15px 25px;
                margin-top: 10px;
                color: white;
                background-color: rgba(12, 12, 12, 0.5);
                opacity: 0;
                pointer-events: none;
                transition: 0.2s ease all;
                width: auto;

                table {
                    margin: 0;
                }

                tr {
                    height: 28px;
                    min-height: 0;
                    td {
                        color: white;
                        height: 28px;
                        margin: 5px 0;
                        padding: 0;
                        border: none;

                        &:first-of-type {
                            width: 47px;
                        }

                        .arrow {
                            position: relative;
                            display: block;
                            height: 28px;
                            width: 47px;

                            &.left {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    width: 15px;
                                    height: 0;
                                    border-bottom: 2px solid white;
                                    top: 14px;
                                    left: 1px;
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    width: 6px;
                                    height: 6px;
                                    border-bottom: 2px solid white;
                                    border-left: 2px solid white;
                                    transform: rotate(45deg);
                                    top: 12px;
                                    left: 0px;
                                }
                            }

                            &.right {
                                &:before {
                                    content: '';
                                    position: absolute;
                                    width: 15px;
                                    height: 0;
                                    border-bottom: 2px solid white;
                                    top: 14px;
                                    left: 0px;
                                }
                                
                                &:after {
                                    content: '';
                                    position: absolute;
                                    width: 6px;
                                    height: 6px;
                                    border-bottom: 2px solid white;
                                    border-right: 2px solid white;
                                    transform: rotate(-45deg);
                                    top: 12px;
                                    left: 10px;
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                height: auto;
                .ttButton {
                    color: $orange;
                    transform: rotate(360deg);
                    text-shadow: 0px 0px 10px #fff;
                }

                .toolTips {
                    opacity: 1;
                    pointer-events: all;
                    width: auto;
                }
            }
            
            @media screen and (max-width:767px) {
                display: none !important;
            }
        }

        #progressBar {
            width: 100%;
            cursor: pointer;
            height: 30px;
            padding-top: 10px;
            margin-top: -30px;
            background: none;
            position: absolute;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            overflow: hidden;
            z-index: 6;

            .progBG {
                width: 100%;
                height: 10px;
                background-color: rgba(12, 12, 12, 0.5);
                transition: 0.2s linear all;
                position: absolute;
                left: 0;
                top: 20px;
            }

            &:hover {
                overflow: visible;

                .progBG {
                    height: 20px;
                    top: 10px;
                    transition: 0.2s linear all;
                    background-color: rgba(12, 12, 12, 0.7);
                }

                .active,
                .buffered,
                .vidSections {
                    height: 20px;
                    top: 10px;
                }

                .vidSections .sectionWrapper {
                    height: 20px;
                    top: 0px;
                }

                .vidSections .sectionWrapper .bookmark {
                    height: 20px;
                }

                .dot {
                    width: 25px;
                    height: 25px;
                    top: 10px;
                }
            }

            .active {
                position: absolute;
                display: block;
                height: 10px;
                width: 0;
                left: 0;
                top: 20px;
                background-color: $orange;
                transition: 0.2s linear;
                z-index: 2;
                transition-property: height, top;
                pointer-events: none;
            }

            .dot {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 0px #fff solid;
                padding: 4px;
                top: 20px;
                bottom: 0;
                margin: auto;
                left: 0;
                z-index: 3;
                background-color: $orange;
                transition: 0.2s linear;
                transition-property: width, height, border, padding, box-shadow, top;

                &:hover {
                    padding: 0;
                    border: 5px #fff solid;
                    box-shadow: 0px 0px 6px #ddd;
                    width: 30px;
                    height: 30px;
                }
            }

            .buffered {
                position: absolute;
                display: block;
                height: 10px;
                width: 100px;
                left: 100px;
                top: 20px;
                background-color: rgba(255, 255, 255, 0.4);
                transition: 0.2s linear all;
            }

            &.changing {
                .progBG {
                    height: 20px;
                    top: 10px;
                    transition: 0.2s linear all;
                    background-color: rgba(12, 12, 12, 0.7);
                }

                .active,
                .buffered,
                .vidSections {
                    height: 20px;
                    top: 10px;
                }

                .vidSections .sectionWrapper {
                    height: 20px;
                    top: 0px;
                }

                .vidSections .sectionWrapper .bookmark {
                    height: 20px;
                }

                .dot {
                    padding: 0;
                    border: 5px #fff solid;
                    box-shadow: 0px 0px 6px #ddd;
                    width: 30px;
                    height: 30px;
                    top: 10px;
                }
            }

            .vidSections {
                position: absolute;
                left: 0;
                width: 100%;
                height: 10px;
                top: 20px;
                transition: 0.2s ease all;

                .sectionWrapper {
                    height: 10px;
                    display: inline-block;
                    transition: 0.2s ease all;

                    .bookmark {
                        position: absolute;
                        display: block;
                        width: 14px;
                        height: 10px;
                        top: 0px;
                        margin-left: -7px;
                        background: white;
                        border-radius: 4px;
                        z-index: 2;
                        transition: 0.2s ease all;

                        .bookmarkWrap {
                            display: block;
                            position: relative;
                            width: auto;
                            max-width: none;
                            transition: 0.2s ease all;

                            .bookmarkContent {
                                display: block;
                                position: absolute;
                                background: #111;
                                color: white;
                                width: 150px;
                                text-align: center;
                                padding: 10px;
                                border-radius: 5px;
                                bottom: calc(100% + 10px);
                                left: -68px;
                                opacity: 0;
                                pointer-events: none;
                                transition: 0.2s ease all;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    border-top: #111 solid 13px;
                                    border-right: transparent solid 10px;
                                    border-left: transparent solid 10px;
                                    left: 0;
                                    right: 0;
                                    margin: auto;
                                    bottom: -13px;
                                }
                            }
                        }

                        &:hover {
                            .bookmarkWrap {
                                .bookmarkContent {
                                    opacity: 1;
                                    pointer-events: all;
                                }
                            }
                        }

                        &:hover {
                            box-shadow: 0 0 5px 2px #fff;
                        }
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.4);
                    }
                }
            }
        }

        #nonProg {
            position: absolute;
            top: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #111;
            padding: 10px 25px;
            height: 60px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            button {
                font-size: 14px;
                width: 30px;
                height: 30px;
                border: none;
                background: none;
                color: $orange;
                cursor: pointer;
                margin: 5px 5px;
                outline: none;
                display: inline-flex;
                padding: 0;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                &:hover {
                    svg {
                        fill: $orange;
                        stroke: $orange;
                    }
                }
            }

            svg {
                fill: #fff;
                stroke: #fff;
                transition: 0.2s linear all;
                max-height: 100%;
                width: auto;
            }

            .leftClust {
                display: flex;
                align-items: center;

                .textTimer {
                    color: #fff;
                    padding: 0 15px 0 0;

                    .progTime.changing {
                        color: $orange;
                    }

                    @media screen and (max-width:870px) {
                        display: none;
                    }
                }

                #playBtn {
                    #pauseIcon {
                        display: none;
                    }

                    &.paused {
                        #pauseIcon {
                            display: block;
                        }

                        #playIcon {
                            display: none;
                        }
                    }
                }

                #backward {
                    .rwArrw {
                        transform-origin: 50% 50%;
                        transition: 0.15s linear all;
                    }

                    &:hover {
                        .rwArrw {
                            transform: rotate(-180deg);
                        }
                    }
                }

                #forward {
                    .ffArrw {
                        transform-origin: 50% 50%;
                        transition: 0.15s linear all;
                    }

                    &:hover {
                        .ffArrw {
                            transform: rotate(180deg);
                        }
                    }
                }

                #mirror {
                    transition: 0.2s ease color;
                    color: #fff;
                    width: 85px;
                    height: auto;
                    line-height: 20px;
                    margin-bottom: 0;
                    display: block;

                    &:after {
                        content: 'Off';
                        display: block !important;
                        width: 100%;
                        font-weight: bold;
                        text-shadow: 0px 0px 10px $orange;
                        line-height: 20px;
                    }

                    &:hover {
                        color: $orange;

                        &:after {
                            text-shadow: 0px 0px 10px #fff;
                        }
                    }

                    &.mirrored {
                        &:after {
                            content: 'On';
                        }
                    }
                }

                .volumeClust {
                    display: flex;
                    vertical-align: middle;
                    align-items: center;

                    #mute {
                        position: relative;
                        margin-right: 5px;

                        .loVol,
                        .mdVol,
                        .hiVol {
                            display: none;
                        }

                        &.low {
                            .loVol {
                                display: block;
                            }
                        }

                        &.mid {

                            .loVol,
                            .mdVol {
                                display: block;
                            }
                        }

                        &.high {

                            .loVol,
                            .mdVol,
                            .hiVol {
                                display: block;
                            }
                        }

                        &.muted {

                            .loVol,
                            .mdVol,
                            .hiVol {
                                display: none !important;
                            }

                            &:before {
                                display: block;
                            }

                            &:after {
                                display: block;
                            }
                        }

                        &:before {
                            content: '';
                            display: none;
                            width: 12px;
                            height: 3px;
                            background: #fff;
                            position: absolute;
                            right: -3px;
                            top: calc(50% - 1px);
                            transform: rotate(45deg);
                        }

                        &:after {
                            content: '';
                            display: none;
                            width: 12px;
                            height: 3px;
                            background: #fff;
                            position: absolute;
                            right: -3px;
                            top: calc(50% - 1px);
                            transform: rotate(-45deg);
                        }
                    }

                    &:hover {
                        svg {
                            fill: $orange;
                            stroke: $orange;
                        }

                        #mute {
                            &:before {
                                background: $orange;
                            }

                            &:after {
                                background: $orange;
                            }
                        }
                    }

                    input {
                        display: inline-block;
                        vertical-align: middle;
                        width: 0;
                        transition: 0.2s linear all;
                        opacity: 0;
                    }

                    &:hover input {
                        width: 100px;
                        opacity: 1;
                    }
                }
            }

            .rightClust {
                select {
                    display: none;
                    vertical-align: middle;
                    width: 100px;
                    cursor: pointer;
                }

                >div {
                    display: inline-block;
                    position: relative;
                    width: auto;
                    cursor: pointer;
                    vertical-align: middle;
                    margin: 0 20px;
                    vertical-align: top;

                    .selectLabel {
                        display: block;
                        width: auto;
                        color: white;
                        text-align: center;
                        transition: 0.2s ease all;
                        line-height: 20px;
                    }

                    .selectLabelVal {
                        display: block;
                        width: auto;
                        color: white;
                        text-shadow: 0px 0px 10px $orange;
                        text-align: center;
                        transition: 0.2s ease all;
                        line-height: 20px;
                    }

                    ul {
                        position: absolute;
                        list-style: none;
                        background-color: rgba(12, 12, 12, 0.5);
                        left: -25px;
                        margin: auto;
                        width: 100px;
                        padding: 10px 15px 10px;
                        opacity: 0;
                        bottom: 0;
                        transition: 0.2s ease all;
                        pointer-events: none;

                        li {
                            width: 100%;
                            text-align: center;
                            color: white;
                            margin-bottom: 5px;
                            transition: 0.2s ease all;

                            &.selected {
                                color: $orange;
                                text-shadow: 0px 0px 15px #fff;
                            }

                            &:hover {
                                color: $orange;
                                text-shadow: 0px 0px 10px #fff;

                                &.selected {
                                    color: $orange;
                                    text-shadow: 0px 0px 15px #fff;
                                }
                            }
                        }
                    }

                    &:hover {

                        .selectLabel,
                        .selectLabelVal {
                            color: $orange;
                        }

                        .selectLabelVal {
                            text-shadow: 0px 0px 10px #fff;
                        }

                        ul {
                            opacity: 1;
                            bottom: calc(100%);
                            pointer-events: all;
                        }
                    }
                }
            }
            
            @media screen and (max-width:767px) {
                padding: 10px 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;

                .leftClust {
                    #mirror {
                        width: 60px;
                        margin: -10px 0 0 0;
                    }
                }

                .rightClust  {
                    &>div {
                        margin: 2px 5px;
                    }
                }
            }

            
            @media screen and (max-width:540px) {
                height: 40px;
                padding: 5px 10px;

                button {
                    width: 20px;
                    height: 20px;
                }

                .leftClust {
                    #mirror {
                        font-size: 12px;
                        line-height: 14px;
                        width: 45px;

                        &:after {
                            line-height: 14px;
                        }
                    }

                    
                    .volumeClust {
                        &:hover input {
                            width: 50px;
                        }
                    }
                }
                .rightClust  {
                    &>div {
                        font-size: 12px;
                        line-height: 14px;
                        margin: 0 5px;
                        
                        ul {    
                            left: -20px;
                            width: 75px;
                        }

                        .selectLabel, .selectLabelVal {
                            line-height: 14px;
                        }
                    }
                }
            }

            @media screen and (max-width: 400px) {
                padding: 5px; 

                .leftClust {
                    #backward, #forward {
                        display: none;
                    }
                }
            }
        }
    }

    &.fullscreen {
        max-width: 100%;
        width: 100%;
        z-index: 10000000000000000000000000000;
        left: 0;
        top: 0;
        margin: 0;
        height: 100%;
        background: black !important;
        position: fixed;

        video {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .controlWrapper {
            max-width: 100%;
            width: 100%;
            margin: auto;
            position: fixed;
            bottom: 0;
            left: 0;

            #progressBar {
                position: relative;
                margin-top: 0;
            }

            #nonProg {
                position: static;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .sectionMenu {
                position: fixed;
                .sectBtn {
                    margin-top: 60px;
                }
                &.active {
                    height: calc(100% - 140px);

                    .sectOps {
                        margin-top: 35px;
                    }
                }
            }

            #hotKeys {
                position: fixed;
                top: 60px;
            }
        }

        #vidOverlay {
            position: fixed;
        }

        .overlayPlay {
            position: fixed;
        }

        .overlayLoading {
            position: fixed;
        }
    }
}