.fsFreeze {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
}

.media-controls-container, .media-controls-container * {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

@media screen and (max-width: 767px) {
  #videoWrapper {
    width: calc(110% + 30px);
    margin: auto calc(-5% - 15px);
  }
}

#videoWrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#videoWrapper video {
  height: auto;
  width: 100%;
  margin: auto;
  display: block;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper video::-webkit-media-controls-enclosure {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper video::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper video::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper video .media-controls-container {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper video :host {
  display: none !important;
  -webkit-appearance: none;
}

#videoWrapper #vidOverlay {
  width: 100%;
  height: calc(100% + 60px);
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 570px) {
  #videoWrapper #vidOverlay {
    height: calc(100% + 40px);
  }
}

#videoWrapper .overlayPlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #FF7714;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 140px;
  height: 140px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  z-index: 11;
}

#videoWrapper .overlayPlay #playIcon {
  fill: #fff;
  margin-left: 7px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

#videoWrapper .overlayPlay:hover {
  background: #fff;
}

#videoWrapper .overlayPlay:hover #playIcon {
  fill: #FF7714;
  margin-left: 7px;
}

@media screen and (max-width: 540px) {
  #videoWrapper .overlayPlay {
    width: 70px;
    height: 70px;
  }
  #videoWrapper .overlayPlay #playIcon {
    width: 30px;
    height: 30px;
  }
}

#videoWrapper .overlayLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  width: 140px;
  height: 140px;
  padding: 10px;
  z-index: 11;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

#videoWrapper .overlayLoading img {
  width: 160px;
  height: 160px;
  margin: -20px;
  max-width: none;
  z-index: 12;
}

@media screen and (max-width: 540px) {
  #videoWrapper .overlayLoading {
    width: 80px;
    height: 80px;
    padding: 0;
  }
  #videoWrapper .overlayLoading img {
    width: 80px;
    height: 80px;
    margin: 0;
  }
}

#videoWrapper .controlWrapper {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  margin-bottom: 100px;
}

#videoWrapper .controlWrapper .sectionMenu {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: auto;
  z-index: 5;
  height: auto;
  pointer-events: none;
}

#videoWrapper .controlWrapper .sectionMenu .sectBtn {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  text-align: center;
  padding: 15px 20px;
  color: white;
  background-color: rgba(12, 12, 12, 0.8);
  margin-top: 20px;
  margin-right: -4px;
  cursor: pointer;
  pointer-events: all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper .sectionMenu .sectBtn:hover {
  color: #FF7714;
}

#videoWrapper .controlWrapper .sectionMenu .sectOps {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(12, 12, 12, 0.5);
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  overflow-y: auto;
}

#videoWrapper .controlWrapper .sectionMenu .sectOps li {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  pointer-events: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 20px;
}

#videoWrapper .controlWrapper .sectionMenu .sectOps li.active {
  text-shadow: 0px 0px 10px #FF7714;
}

#videoWrapper .controlWrapper .sectionMenu .sectOps li.active:hover {
  text-shadow: 0px 0px 10px #fff;
}

#videoWrapper .controlWrapper .sectionMenu .sectOps li.clickable {
  cursor: pointer;
  padding-left: 20px;
  pointer-events: all;
  font-weight: normal;
}

#videoWrapper .controlWrapper .sectionMenu .sectOps li.clickable:hover {
  color: #FF7714;
}

#videoWrapper .controlWrapper .sectionMenu.active {
  height: 100%;
  pointer-events: all;
}

#videoWrapper .controlWrapper .sectionMenu.active .sectBtn {
  color: #FF7714;
  text-shadow: 0px 0px 10px #fff;
}

#videoWrapper .controlWrapper .sectionMenu.active .sectOps {
  width: 250px;
  padding: 25px 20px 40px;
}

#videoWrapper .controlWrapper .sectionMenu.active .sectOps li {
  overflow: hidden;
  white-space: normal;
}

@media screen and (max-width: 570px) {
  #videoWrapper .controlWrapper .sectionMenu .sectBtn {
    width: 120px;
    padding: 10px 5px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
  }
  #videoWrapper .controlWrapper .sectionMenu .sectOps li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  #videoWrapper .controlWrapper .sectionMenu.active .sectOps {
    width: 175px;
    padding: 15px 10px 25px;
  }
}

#videoWrapper .controlWrapper #hotKeys {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  width: auto;
  z-index: 6;
  height: 50px;
  cursor: pointer;
}

#videoWrapper .controlWrapper #hotKeys .ttButton {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(12, 12, 12, 0.5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.2 ease all;
  transition: 0.2 ease all;
  color: white;
  font-size: 18px;
}

#videoWrapper .controlWrapper #hotKeys .ttButton:hover {
  color: #FF7714;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#videoWrapper .controlWrapper #hotKeys .toolTips {
  list-style: none;
  padding: 15px 25px;
  margin-top: 10px;
  color: white;
  background-color: rgba(12, 12, 12, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  width: auto;
}

#videoWrapper .controlWrapper #hotKeys .toolTips table {
  margin: 0;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr {
  height: 28px;
  min-height: 0;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td {
  color: white;
  height: 28px;
  margin: 5px 0;
  padding: 0;
  border: none;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td:first-of-type {
  width: 47px;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td .arrow {
  position: relative;
  display: block;
  height: 28px;
  width: 47px;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td .arrow.left:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 0;
  border-bottom: 2px solid white;
  top: 14px;
  left: 1px;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td .arrow.left:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
  left: 0px;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td .arrow.right:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 0;
  border-bottom: 2px solid white;
  top: 14px;
  left: 0px;
}

#videoWrapper .controlWrapper #hotKeys .toolTips tr td .arrow.right:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  left: 10px;
}

#videoWrapper .controlWrapper #hotKeys.active {
  height: auto;
}

#videoWrapper .controlWrapper #hotKeys.active .ttButton {
  color: #FF7714;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  text-shadow: 0px 0px 10px #fff;
}

#videoWrapper .controlWrapper #hotKeys.active .toolTips {
  opacity: 1;
  pointer-events: all;
  width: auto;
}

@media screen and (max-width: 767px) {
  #videoWrapper .controlWrapper #hotKeys {
    display: none !important;
  }
}

#videoWrapper .controlWrapper #progressBar {
  width: 100%;
  cursor: pointer;
  height: 30px;
  padding-top: 10px;
  margin-top: -30px;
  background: none;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  z-index: 6;
}

#videoWrapper .controlWrapper #progressBar .progBG {
  width: 100%;
  height: 10px;
  background-color: rgba(12, 12, 12, 0.5);
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  position: absolute;
  left: 0;
  top: 20px;
}

#videoWrapper .controlWrapper #progressBar:hover {
  overflow: visible;
}

#videoWrapper .controlWrapper #progressBar:hover .progBG {
  height: 20px;
  top: 10px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  background-color: rgba(12, 12, 12, 0.7);
}

#videoWrapper .controlWrapper #progressBar:hover .active,
#videoWrapper .controlWrapper #progressBar:hover .buffered,
#videoWrapper .controlWrapper #progressBar:hover .vidSections {
  height: 20px;
  top: 10px;
}

#videoWrapper .controlWrapper #progressBar:hover .vidSections .sectionWrapper {
  height: 20px;
  top: 0px;
}

#videoWrapper .controlWrapper #progressBar:hover .vidSections .sectionWrapper .bookmark {
  height: 20px;
}

#videoWrapper .controlWrapper #progressBar:hover .dot {
  width: 25px;
  height: 25px;
  top: 10px;
}

#videoWrapper .controlWrapper #progressBar .active {
  position: absolute;
  display: block;
  height: 10px;
  width: 0;
  left: 0;
  top: 20px;
  background-color: #FF7714;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  z-index: 2;
  -webkit-transition-property: height, top;
  transition-property: height, top;
  pointer-events: none;
}

#videoWrapper .controlWrapper #progressBar .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 0px #fff solid;
  padding: 4px;
  top: 20px;
  bottom: 0;
  margin: auto;
  left: 0;
  z-index: 3;
  background-color: #FF7714;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transition-property: width, height, border, padding, top, -webkit-box-shadow;
  transition-property: width, height, border, padding, top, -webkit-box-shadow;
  transition-property: width, height, border, padding, box-shadow, top;
  transition-property: width, height, border, padding, box-shadow, top, -webkit-box-shadow;
}

#videoWrapper .controlWrapper #progressBar .dot:hover {
  padding: 0;
  border: 5px #fff solid;
  -webkit-box-shadow: 0px 0px 6px #ddd;
          box-shadow: 0px 0px 6px #ddd;
  width: 30px;
  height: 30px;
}

#videoWrapper .controlWrapper #progressBar .buffered {
  position: absolute;
  display: block;
  height: 10px;
  width: 100px;
  left: 100px;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
}

#videoWrapper .controlWrapper #progressBar.changing .progBG {
  height: 20px;
  top: 10px;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  background-color: rgba(12, 12, 12, 0.7);
}

#videoWrapper .controlWrapper #progressBar.changing .active,
#videoWrapper .controlWrapper #progressBar.changing .buffered,
#videoWrapper .controlWrapper #progressBar.changing .vidSections {
  height: 20px;
  top: 10px;
}

#videoWrapper .controlWrapper #progressBar.changing .vidSections .sectionWrapper {
  height: 20px;
  top: 0px;
}

#videoWrapper .controlWrapper #progressBar.changing .vidSections .sectionWrapper .bookmark {
  height: 20px;
}

#videoWrapper .controlWrapper #progressBar.changing .dot {
  padding: 0;
  border: 5px #fff solid;
  -webkit-box-shadow: 0px 0px 6px #ddd;
          box-shadow: 0px 0px 6px #ddd;
  width: 30px;
  height: 30px;
  top: 10px;
}

#videoWrapper .controlWrapper #progressBar .vidSections {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  top: 20px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper {
  height: 10px;
  display: inline-block;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper .bookmark {
  position: absolute;
  display: block;
  width: 14px;
  height: 10px;
  top: 0px;
  margin-left: -7px;
  background: white;
  border-radius: 4px;
  z-index: 2;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper .bookmark .bookmarkWrap {
  display: block;
  position: relative;
  width: auto;
  max-width: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper .bookmark .bookmarkWrap .bookmarkContent {
  display: block;
  position: absolute;
  background: #111;
  color: white;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  bottom: calc(100% + 10px);
  left: -68px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper .bookmark .bookmarkWrap .bookmarkContent:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: #111 solid 13px;
  border-right: transparent solid 10px;
  border-left: transparent solid 10px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -13px;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper .bookmark:hover .bookmarkWrap .bookmarkContent {
  opacity: 1;
  pointer-events: all;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper .bookmark:hover {
  -webkit-box-shadow: 0 0 5px 2px #fff;
          box-shadow: 0 0 5px 2px #fff;
}

#videoWrapper .controlWrapper #progressBar .vidSections .sectionWrapper:hover {
  background: rgba(255, 255, 255, 0.4);
}

#videoWrapper .controlWrapper #nonProg {
  position: absolute;
  top: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  padding: 10px 25px;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#videoWrapper .controlWrapper #nonProg button {
  font-size: 14px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  color: #FF7714;
  cursor: pointer;
  margin: 5px 5px;
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#videoWrapper .controlWrapper #nonProg button:hover svg {
  fill: #FF7714;
  stroke: #FF7714;
}

#videoWrapper .controlWrapper #nonProg svg {
  fill: #fff;
  stroke: #fff;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  max-height: 100%;
  width: auto;
}

#videoWrapper .controlWrapper #nonProg .leftClust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#videoWrapper .controlWrapper #nonProg .leftClust .textTimer {
  color: #fff;
  padding: 0 15px 0 0;
}

#videoWrapper .controlWrapper #nonProg .leftClust .textTimer .progTime.changing {
  color: #FF7714;
}

@media screen and (max-width: 870px) {
  #videoWrapper .controlWrapper #nonProg .leftClust .textTimer {
    display: none;
  }
}

#videoWrapper .controlWrapper #nonProg .leftClust #playBtn #pauseIcon {
  display: none;
}

#videoWrapper .controlWrapper #nonProg .leftClust #playBtn.paused #pauseIcon {
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust #playBtn.paused #playIcon {
  display: none;
}

#videoWrapper .controlWrapper #nonProg .leftClust #backward .rwArrw {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: 0.15s linear all;
  transition: 0.15s linear all;
}

#videoWrapper .controlWrapper #nonProg .leftClust #backward:hover .rwArrw {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

#videoWrapper .controlWrapper #nonProg .leftClust #forward .ffArrw {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: 0.15s linear all;
  transition: 0.15s linear all;
}

#videoWrapper .controlWrapper #nonProg .leftClust #forward:hover .ffArrw {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#videoWrapper .controlWrapper #nonProg .leftClust #mirror {
  -webkit-transition: 0.2s ease color;
  transition: 0.2s ease color;
  color: #fff;
  width: 85px;
  height: auto;
  line-height: 20px;
  margin: 0;
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust #mirror:after {
  content: 'Off';
  display: block !important;
  width: 100%;
  font-weight: bold;
  text-shadow: 0px 0px 10px #FF7714;
  line-height: 20px;
}

#videoWrapper .controlWrapper #nonProg .leftClust #mirror:hover {
  color: #FF7714;
}

#videoWrapper .controlWrapper #nonProg .leftClust #mirror:hover:after {
  text-shadow: 0px 0px 10px #fff;
}

#videoWrapper .controlWrapper #nonProg .leftClust #mirror.mirrored:after {
  content: 'On';
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute {
  position: relative;
  margin-right: 5px;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute .loVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute .mdVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute .hiVol {
  display: none;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.low .loVol {
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.mid .loVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.mid .mdVol {
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.high .loVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.high .mdVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.high .hiVol {
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.muted .loVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.muted .mdVol,
#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.muted .hiVol {
  display: none !important;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.muted:before {
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute.muted:after {
  display: block;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute:before {
  content: '';
  display: none;
  width: 12px;
  height: 3px;
  background: #fff;
  position: absolute;
  right: -3px;
  top: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust #mute:after {
  content: '';
  display: none;
  width: 12px;
  height: 3px;
  background: #fff;
  position: absolute;
  right: -3px;
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust:hover svg {
  fill: #FF7714;
  stroke: #FF7714;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust:hover #mute:before {
  background: #FF7714;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust:hover #mute:after {
  background: #FF7714;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust input {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  -webkit-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 0;
}

#videoWrapper .controlWrapper #nonProg .leftClust .volumeClust:hover input {
  width: 100px;
  opacity: 1;
}

#videoWrapper .controlWrapper #nonProg .rightClust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#videoWrapper .controlWrapper #nonProg .rightClust select {
  display: none;
  vertical-align: middle;
  width: 100px;
  cursor: pointer;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div {
  display: inline-block;
  position: relative;
  width: auto;
  cursor: pointer;
  margin: 0 20px;
  vertical-align: top;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div .selectLabel {
  display: block;
  width: auto;
  color: white;
  text-align: center;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  line-height: 20px;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div .selectLabelVal {
  display: block;
  width: auto;
  color: white;
  text-shadow: 0px 0px 10px #FF7714;
  text-align: center;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  line-height: 20px;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div ul {
  position: absolute;
  list-style: none;
  background-color: rgba(12, 12, 12, 0.5);
  left: -25px;
  margin: auto;
  width: 100px;
  padding: 10px 15px 10px;
  opacity: 0;
  bottom: 100%;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  pointer-events: none;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div ul li {
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 5px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div ul li.selected {
  color: #FF7714;
  text-shadow: 0px 0px 15px #fff;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div ul li:hover {
  color: #FF7714;
  text-shadow: 0px 0px 10px #fff;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div ul li:hover.selected {
  color: #FF7714;
  text-shadow: 0px 0px 15px #fff;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div:hover .selectLabel,
#videoWrapper .controlWrapper #nonProg .rightClust > div:hover .selectLabelVal {
  color: #FF7714;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div:hover .selectLabelVal {
  text-shadow: 0px 0px 10px #fff;
}

#videoWrapper .controlWrapper #nonProg .rightClust > div:hover ul {
  opacity: 1;
  pointer-events: all;
  z-index: 10000;
}

@media screen and (max-width: 767px) {
  #videoWrapper .controlWrapper #nonProg {
    padding: 10px 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  #videoWrapper .controlWrapper #nonProg .leftClust #mirror {
    width: 60px;
    margin: 0;
  }
  #videoWrapper .controlWrapper #nonProg .rightClust > div {
    margin: 2px 5px;
  }
}

@media screen and (max-width: 570px) {
  #videoWrapper .controlWrapper #nonProg {
    height: 40px;
    padding: 5px 10px;
  }
  #videoWrapper .controlWrapper #nonProg button {
    width: 20px;
    height: 20px;
  }
  #videoWrapper .controlWrapper #nonProg .leftClust #mirror {
    font-size: 12px;
    line-height: 14px;
    width: 45px;
  }
  #videoWrapper .controlWrapper #nonProg .leftClust #mirror:after {
    line-height: 14px;
  }
  #videoWrapper .controlWrapper #nonProg .leftClust .volumeClust {
    width: 50px;
  }
  #videoWrapper .controlWrapper #nonProg .leftClust .volumeClust input {
    display: none;
  }
  #videoWrapper .controlWrapper #nonProg .rightClust > div {
    font-size: 12px;
    line-height: 14px;
    margin: 0 5px;
  }
  #videoWrapper .controlWrapper #nonProg .rightClust > div ul {
    left: -20px;
    width: 75px;
  }
  #videoWrapper .controlWrapper #nonProg .rightClust > div .selectLabel, #videoWrapper .controlWrapper #nonProg .rightClust > div .selectLabelVal {
    line-height: 14px;
  }
}

@media screen and (max-width: 400px) {
  #videoWrapper .controlWrapper #nonProg {
    padding: 5px;
  }
  #videoWrapper .controlWrapper #nonProg .leftClust #backward, #videoWrapper .controlWrapper #nonProg .leftClust #forward {
    display: none;
  }
}

#videoWrapper.fullscreen {
  max-width: 100%;
  width: 100%;
  z-index: 10000000000000000000000000000;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  background: black !important;
  position: fixed;
}

#videoWrapper.fullscreen video {
  position: fixed;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
}

#videoWrapper.fullscreen .controlWrapper {
  max-width: 100%;
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

#videoWrapper.fullscreen .controlWrapper #progressBar {
  position: relative;
  margin-top: 0;
}

#videoWrapper.fullscreen .controlWrapper #nonProg {
  position: static;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#videoWrapper.fullscreen .controlWrapper .sectionMenu {
  position: fixed;
}

#videoWrapper.fullscreen .controlWrapper .sectionMenu .sectBtn {
  margin-top: 10px;
}

#videoWrapper.fullscreen .controlWrapper .sectionMenu.active {
  height: calc(100% - 60px);
}

@media screen and (max-width: 570px) {
  #videoWrapper.fullscreen .controlWrapper .sectionMenu.active {
    height: calc(100% - 40px);
  }
}

#videoWrapper.fullscreen .controlWrapper #hotKeys {
  position: fixed;
  top: 10px;
}

#videoWrapper.fullscreen #vidOverlay {
  position: fixed;
}

#videoWrapper.fullscreen .overlayPlay {
  position: fixed;
}

#videoWrapper.fullscreen .overlayLoading {
  position: fixed;
}
/*# sourceMappingURL=video.css.map */